name: Build

on: [push, pull_request]

jobs:
  build:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        compiler: [gcc, clang, gcc-14]
        os: [ubuntu-22.04, ubuntu-24.04, macos-latest]
        exclude:
          - os: macos-latest
            compiler: gcc
          - os: macos-latest
            compiler: gcc-14
          - os: ubuntu-22.04
            compiler: gcc-14
    env:
      CC: ${{ matrix.compiler }}
      MACOSX_DEPLOYMENT_TARGET: "10.12"

    steps:
    - uses: actions/checkout@v5

    - name: openssl path macos
      if: ${{ runner.os == 'macOS' }}
      run: |
        echo "OPENSSL_ROOT_DIR=$(brew --prefix openssl)" >> $GITHUB_ENV

    - name: Fix Ubuntu 22.04
      if: ${{ matrix.os == 'ubuntu-22.04' }}
      run: |
        sudo apt-get update
        sudo apt-get remove libunwind-14 -y
        sudo apt-get install libunwind-dev -y

    - name: install packages
      if: ${{ runner.os == 'Linux' }}
      run: |
        sudo apt-get update && sudo apt-get install -y libavcodec-dev \
                            libmpg123-dev \
                            libsndfile1-dev \
                            libssl-dev \
                            libglib2.0-dev \
                            libgstreamer1.0-dev

    - name: install aac
      if: ${{ matrix.os == 'ubuntu-22.04' }}
      run: |
        sudo apt-get update && sudo apt-get install -y libfdk-aac-dev

    - name: Cache Homebrew downloads
      if: ${{ runner.os == 'macOS' }}
      uses: actions/cache@v3
      with:
        path: /Users/runner/Library/Caches/Homebrew
        key: ${{ runner.os }}-brew-${{ hashFiles('**/Brewfile') }}
        restore-keys: |
          ${{ runner.os }}-brew-

    - name: install dependencies macOS
      if: ${{ runner.os == 'macOS' }}
      run: |
        brew install codec2 \
                        mpg123 \
                        glib-utils \
                        pkg-config \
                        gst-plugins-base

    - uses: sreimers/pr-dependency-action@v1
      with:
        name: re
        repo: https://github.com/baresip/re
        secret: ${{ secrets.GITHUB_TOKEN }}

    - uses: sreimers/pr-dependency-action@v1
      with:
        name: baresip
        repo: https://github.com/baresip/baresip
        secret: ${{ secrets.GITHUB_TOKEN }}

    - name: make re/baresip
      run: |
        cmake -S re -B re/build
        cmake --build re/build -j
        cmake -S baresip -B baresip/build -DMODULES=
        cmake --build baresip/build -j -t baresip
        mv re ../.
        mv baresip ../.

    - name: ldconfig
      if: ${{ runner.os == 'Linux' }}
      run: sudo ldconfig

    - name: make baresip-apps
      run: |
        cmake -B build
        cmake --build build -j
